{% if site.gravatar_header %}
<a href="{{ root_url}}/"><img src="{% gravatar_image 160 %}" alt="Gravatar of {{ site.author}} " title="Gravatar of {{ site.author }}" class="profilepic"></a>
{% endif %}
<hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2 class="subtitle">{{ site.subtitle }}</h2>
  {% endif %}
  <section class="nav_links">
  {% if site.about%}
    <a href={{site.about}}>About</a>
  {% endif%}
  {% if site.projects %}
    <a href={{site.projects}}>Projects</a>
  {% endif%}
    <a href={{site.contact}}>Contact</a>
  </section>
</hgroup>
